<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row cd-content">
                                <div class="panel panel-padrao">

                    <div class="panel-heading">
                        <i class="icone {LABEL_ICONE}"> </i>{LABEL_TITULO}
                    </div>
                    <div class="panel-body">
                        <p><h4>{TITULO}<br/><small> {DATA}</small></h4>
                            </p>
                        <p>{CONTEUDO}</p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" href="publicacao-{GRUPO}-posts">Voltar</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {INC_LATERAL_DIREITA}
        </div>
    </div>
</div>
<script>
	$(document).ready(function() {

	});
</script>

