<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row cd-content">
                <div class="col-md-4">
                    <div class="panel panel-padrao">

                        <div class="panel-heading">
                            <i class="icone icone-anote"> </i>Anote
                        </div>
                        <div class="panel-body">
                            <!-- BEGIN BLOCK_ITEM_ANOTE -->
                            <div class="lista-item">
                                <header class="">
                                    <h2 class=""><a href="publicacao-detalhe?id={ID_PUB}" title="leia mais..">{TITULO_ITEM}</a></h2>
                                </header>
                                <div class="">
                                    {DATA_ITEM} | <a href="publicacao-detalhe?id={ID_PUB}" title="leia mais..">Ler mais</a>
                                    
                                </div>
                                 
                            </div>
                            <!-- END BLOCK_ITEM_ANOTE -->
                        </div>
                        <div class="panel-footer text-right">
                            <a href="publicacao-anote-posts">ver todas</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-padrao">

                        <div class="panel-heading">
                            <i class="icone icone-participe"> </i>Participe
                        </div>
                        <div class="panel-body">
                            <!-- BEGIN BLOCK_ITEM_PARTICIPE -->
                            <div class="lista-item">
                                <header class="">
                                    <h2 class=""><a href="publicacao-detalhe?id={ID_PUB}" title="leia mais..">{TITULO_ITEM}</a></h2>
                                </header>
                                <div class="">
                                    <div class="pull-left">
                                                    <img alt="User Image" class="img-circle" src="img/users/{FOTO_ITEM}">
                                                </div>
                                    {DATA_ITEM} | <a href="publicacao-detalhe?id={ID_PUB}" title="leia mais..">Ler mais</a>
                                    <br/>{USER_ITEM}
                                </div>
                                 
                            </div>
                            <!-- END BLOCK_ITEM_PARTICIPE -->
                        </div>
                        <div class="panel-footer text-right">
                            <a href="publicacao-participe-posts">ver todas</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-padrao">

                        <div class="panel-heading">
                            <i class="icone icone-colabore"> </i>Colabore
                        </div>
                        <div class="panel-body">
                            <!-- BEGIN BLOCK_ITEM_COLABORE -->
                            <div class="lista-item">
                                <header class="">
                                    <h2 class=""><a href="publicacao-detalhe?id={ID_PUB}" title="leia mais..">{TITULO_ITEM}</a></h2>
                                </header>
                                <div class="">
                                    <div class="pull-left">
                                                    <img alt="User Image" class="img-circle" src="img/users/{FOTO_ITEM}">
                                                </div>
                                    {DATA_ITEM} | <a href="publicacao-detalhe?id={ID_PUB}" title="leia mais..">Ler mais</a>
                                    <br/>{USER_ITEM}
                                </div>
                                 
                            </div>
                            <!-- END BLOCK_ITEM_COLABORE -->
                        </div>
                        <div class="panel-footer text-right">
                            <a href="publicacao-colabore-posts">ver todas</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-3">
             {INC_LATERAL_DIREITA}
        </div>
    </div>
</div>
