<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row cd-content">
            <div class="panel panel-default form-box">
                <div class="panel-body">
                <p class="login-box-msg">Preencha seu email para recuperar sua senha</p>        
        <form action="index-do" method="post" id="frmRecuperarSenha">
            <input type="hidden" value="recupera" name="action" />
          <div class="form-group has-feedback">
            <input type="email" class="form-control required email" placeholder="Email" name="email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"> </span>
          </div>
          <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Recuperar</button>
                <a href="index-registro" class="btn btn-success btn-block btn-flat">Registrar-se como novo usuário</a>
                 <a href="index-home" class="btn btn-default btn-block btn-flat">Voltar</a><br>
              
        </div>  
        </form>
       
        </div>
        </div>

            </div>

        </div>
        <div class="col-md-3">
            {INC_LATERAL_DIREITA}         
            </div>
        </div>
  
<script>
      $(function () {
          $("#frmLogin").validate(); 
        $("#frmRecuperarSenha").validate({
            rules : {
        
            email: {
                required: true,
                remote: {
                            url: "comum/ajax/consultaEmail?tipo=1&email="+$("#email").val(),
                            type: "get",
                            }
                }
        },
        messages: {
                    email: {
                    remote: "Desculpe mas o email não está cadastrado."
                    }
                }
        });
      });
    </script>
