<div class="panel panel-padrao-no-border">

                <div class="panel-heading">
                    <i class="icone icone-servicos"> </i>Serviços
                </div>
                <div class="panel-body">
                    <ul id="cd-menu-sec">
                        <li>
                            <a href="servicos-convencao-documentos">Convenção</a>
                        </li>
                        <li>
                            <a href="servicos-regulamento-documentos">Regulamento</a>
                        </li>
                        <li>
                            <a href="servicos-atas-documentos">Atas de Assembléia</a>
                        </li>
                        <li>
                            <a href="servicos-balancetes-documentos">Balancetes</a>
                        </li>
                        <li>
                            <a href="servicos-organograma-documentos">Administração</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-padrao">

                <div class="panel-heading">
                    <i class="icone icone-seguranca"> </i>Área Restrita
                </div>
                <div class="panel-body">
                    <form action="index-do" method="post" id="frmLogin" name="frmLogin">
                        <input type="hidden" name="action" value="login" />
                        <div class="form-group has-feedback">
                            <label for="apartamento">Apartamento</label>
                            <select class="selectpicker form-control required" data-live-search="true" id="login-apartamento" name="login-apartamento">
                             <option value=""> </option>
                             <!-- BEGIN BLOCK_UNIDADE -->
                             <option value="{ID_UNIDADE}">{LABEL_UNIDADE}</option>
                             <!-- END BLOCK_UNIDADE -->
                           </select>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="usuario">Usuário</label>
                            <select class="form-control required" name="login-usuario" id="login-usuario">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control required" id="login-senha" placeholder="Password" name="login-senha">
                        </div>
                        <button type="submit" class="btn btn-default">
                            Entrar
                        </button>
                        <div class="form-group">
                            <a href="index-recuperarSenha">Esqueci Minha Senha</a>
                        </div>
                        <div class="form-group">
                            <a href="index-registro">Primeiro Acesso?</a>
                        </div>

                    </form>
                    <ul id="cd-menu-sec">
                        <li>
                            <a href="#">Segunda Via de Boleto</a>
                        </li>
                        <li>
                            <a href="#">Cadastro</a>
                        </li>
                        <li>
                            <a href="#">Pendências</a>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
    $(document).ready(function() {
        $("#login-apartamento").change(function(){
            $.ajax({
                url : "comum-ajax-usuariosPorUnidade",
                type : "POST",
                data : {idUnidade : $(this).val()},

                beforeSend: function( ) {
                  
                },
            }).done(function(msg) {
               $("#login-usuario").html(msg);
            });
        });
        $("#frmLogin").validate();
    }); 
</script>
